<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="BotRequests.error_log"
    xsi:type="File"
    layout="${longdate}|${level}| ${message}"
    deleteOldFileOnStartup="False"
    concurrentWrites="true"
    KeepFileOpen ="False"
    fileName="${basedir}/Logs/BotRequests/error.log"/>

    <target name="BotRequests.debug_log"
    xsi:type="File"
    layout="${longdate}|${level}| ${message}"
    deleteOldFileOnStartup="False"
    concurrentWrites="true"
    KeepFileOpen ="False"
    fileName="${basedir}/Logs/BotRequests/debug.log"/>

    <target name="BotRequests.info_log"
    xsi:type="File"
    layout="${longdate}|${level}| ${message}"
    deleteOldFileOnStartup="False"
    concurrentWrites="true"
    KeepFileOpen ="False"
    fileName="${basedir}/Logs/BotRequests/info.log"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="CoffeeJelly.Bot.Bot.BotRequests+LogMaker" levels="Error, Fatal " writeTo="BotRequests.error_log" />
    <logger name="CoffeeJelly.Bot.Bot.BotRequests+LogMaker" levels="Debug" writeTo="BotRequests.debug_log" />
    <logger name="CoffeeJelly.Bot.Bot.BotRequests+LogMaker" levels="Info, Warn" writeTo="BotRequests.info_log" />
    <!--
    ////////////////////////////////////////////////////////
    -->

  </rules>
</nlog>