<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
    <add assembly="NLog.Extended" />
  </extensions>

  <targets>
    <target name="Bot.error_log"
    xsi:type="File"
    layout="${longdate}|${level}| ${message}"
    deleteOldFileOnStartup="False"
    concurrentWrites="true"
    KeepFileOpen ="False"
    fileName="${basedir}/Logs/Bot/error.log"/>

    <target name="Bot.debug_log"
    xsi:type="File"
    layout="${longdate}|${level}| ${message}"
    deleteOldFileOnStartup="False"
    concurrentWrites="true"
    KeepFileOpen ="False"
    fileName="${basedir}/Logs/Bot/debug.log"/>

    <target name="Bot.info_log"
    xsi:type="File"
    layout="${longdate}|${level}| ${message}"
    deleteOldFileOnStartup="False"
    concurrentWrites="true"
    KeepFileOpen ="False"
    fileName="${basedir}/Logs/Bot/info.log"/>

    <target xsi:type="Database"
            name="database"
      connectionStringName ="GmailBotDbContext"
      commandText="INSERT INTO [dbo].[LogEntryModels] ([CallSite], [Date], [Exception], [Level], [Logger], [MachineName], [Message], [StackTrace], [Thread], [Username]) VALUES (@CallSite, @Date, @Exception, @Level, @Logger, @MachineName, @Message, @StackTrace, @Thread, @Username);">
      <parameter name="@CallSite" layout="${callsite:filename=true}" />
      <parameter name="@Date" layout="${longdate}" />
      <parameter name="@Exception" layout="${exception}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@StackTrace" layout="${exception:format=ToString,StackTrace}${newline}" />
      <parameter name="@Thread" layout="${threadid}" />
      <parameter name="@Username" layout="${windows-identity:domain=true}" />      
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="CoffeeJelly.gmailNotifyBot.Bot.BotRequests" levels="Error, Fatal " writeTo="Bot.error_log" />
    <logger name="CoffeeJelly.gmailNotifyBot.Bot.BotRequests" levels="Debug" writeTo="Bot.debug_log" />
    <logger name="CoffeeJelly.gmailNotifyBot.Bot.BotRequests" levels="Info, Warn" writeTo="Bot.info_log" />
    <logger name="CoffeeJelly.gmailNotifyBot.Bot.BotRequestsHandler" levels="Error, Fatal " writeTo="Bot.error_log" />
    <logger name="CoffeeJelly.gmailNotifyBot.Bot.BotRequestsHandler" levels="Debug" writeTo="Bot.debug_log" />
    <logger name="CoffeeJelly.gmailNotifyBot.Bot.BotRequestsHandler" levels="Info, Warn" writeTo="Bot.info_log" />
    <logger name="*" minlevel="Info" writeTo="database" />
    <!--
    ////////////////////////////////////////////////////////
    -->

  </rules>
</nlog>